* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  width: 300px;
  height: 400px;
  margin: 4rem;
  cursor: pointer;
}

.card-img {
    width: 284px;
    height: 299px;
  border-radius: 4px;
  margin-bottom: 9px;
}

.card button:hover {
  background-color: #0056b3;
}

.brand-name {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
}

.title {
  display: inline-block;
  width: calc(100% - 80px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.price {
  /* display: inline-block; */
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  
}

.sale {
    color: rgb(38, 165, 65);
    font-size: 12px;
    font-weight: 700;
}
.discount-on {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 700;
    color: #878787;
}
.discount-price{
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 700;
}
.price-elements{
    display: flex;
    gap: 12px;
}
.title-elements{
    display: flex;
}
.title-elements img{
    height: 18px;
}